<!-- <nav class="nav">
    <div class="nav-main">
        <div class="logo">Zedi<span>Esports</span></div>
        <ul class="nav-links">
            <li class="nav-link"><a href="">Home</a></li>
            <li class="nav-link"><a href="" routerLink="AboutUs">About Us</a></li>
            <li class="nav-link dropdown"><a href="" class="dropdown">Services <i class="bi bi-chevron-compact-down"></i></a>
            <ul class="dropdown-list">
                <li class="nav-link"><a href="">IGC</a>
                <li class="nav-link"><a href="">WGC</a>
            </ul>
            </li>
            <li class="nav-link"><a href="">Contant Us</a></li>
        </ul>
    </div>
       
    <div class="cta">
        <button class="btn btn-secondary" routerLink="User/Login">Log In</button>
        <button class="btn btn-primary">Get Started</button>
    </div>
    <div class="menu">
      <button class="btn btn-primary menu"><i class="bi-list"></i></button>
      <ul class="nav-mobile">
            <li class="nav-link"><a href="">Home</a></li>
            <li class="nav-link"><a href="">About Us</a></li>
            <li class="nav-link dropdown"><a href="" class="dropdown">Services <i class="bi bi-chevron-compact-down"></i></a>
            <ul class="dropdown-list">
                <li class="nav-link"><a href="">IGC</a>
                <li class="nav-link"><a href="">WGC</a>
            </ul>
            </li>
            <li class="nav-link"><a href="">Contant Us</a></li>
      </ul>
    </div>
</nav> -->



<nav class="navbar  navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/Home">Zedi<span> Esports</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">IGC</a></li>
                        <li><a class="dropdown-item" href="#">WGC</a></li>
                        <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Careers </a>
                </li>
            </ul>
            <span class="d-flex">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn  btn-outline-primary" routerLink="/User/Login" > Log In </button>
            </span>
        </div>
    </div>
</nav>