<nav class="nav">
    <div class="nav-main">
        <div class="logo">Zedi<span>Esports</span></div>
        <ul class="nav-links">
            <li class="nav-link"><a href="">Home</a></li>
            <li class="nav-link"><a href="">About Us</a></li>
            <li class="nav-link dropdown"><a href="" class="dropdown">Services <i class="bi bi-chevron-compact-down"></i></a>
            <ul class="dropdown-list">
                <li class="nav-link"><a href="">IGC</a>
                <li class="nav-link"><a href="">WGC</a>
            </ul>
            </li>
            <li class="nav-link"><a href="">Contant Us</a></li>
        </ul>
    </div>
       
    <div class="cta">
        <button class="btn btn-secondary" routerLink="User/Login">Log In</button>
        <button class="btn btn-primary">Get Started</button>
    </div>
    <div class="menu">
      <button class="btn btn-primary menu"><i class="bi-list"></i></button>
      <ul class="nav-mobile">
            <li class="nav-link"><a href="">Home</a></li>
            <li class="nav-link"><a href="">About Us</a></li>
            <li class="nav-link dropdown"><a href="" class="dropdown">Services <i class="bi bi-chevron-compact-down"></i></a>
            <ul class="dropdown-list">
                <li class="nav-link"><a href="">IGC</a>
                <li class="nav-link"><a href="">WGC</a>
            </ul>
            </li>
            <li class="nav-link"><a href="">Contant Us</a></li>
      </ul>
    </div>
</nav>