<div id="container">
    <div class="row mt-4">
       
        <div class="col-lg ">
         
                    <div class="form-wrap text-center" >

                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" name="Title" id="Title" placeholder="Title" required>
                            </div>
                            <div class="form-group">
                                <label for="url">Enter your Img URL:</label>

                                <input type="url" name="url" id="url" placeholder="https://example.com"
                                    pattern="https://.*" size="30" required>
                            </div>
                            <div class="form-group">
                                <label for="Write Content">Write Content</label>
                                <textarea name="Write Content" id="Write Content" placeholder="Content"
                                    required></textarea>
                            </div>

                            <button type="submit" class="btn">Post</button>
                            <!-- <p class="bottom-text"><small>By clicking the Post button, you agree to our <a href="#">Terms &
                                Conditions</a> and <a href="#">Privacy Policy</a>.</small></p> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
