<!-- <div class="l-hero l-hero--left"> -->
    <div class="l-hero">
        <div class="l-hero__img">
            <img class="l-hero__img-inner" srcset="\assets\careers.jpg" 
                alt="Zedi Esports">
        </div>
    
        <div class="l-hero__pulled">
            <div class="l-hero__pulled-inner">
                <div class="c-card">
                    <h2 class="c-card__subtitle">We are Hiring</h2>
                    <h1 class="c-card__title">Zedi <br/> <span>Esports</span> </h1>
                </div>
            </div>
        </div>
    </div>